# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/web-store?schema=public"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/web-store"

REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"
REDIS_PASSWORD="eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81"

SESSION_SECRET="jiasduijasidjuiasdjiosjiojasijdsai"
COOKIE_SECRET="jiasduijasidjuiasdjiosjiojasijdsai"

EMAIL_USER="lethanhtrung.trungle@gmail.com"
EMAIL_PASS=""

JWT_SECRET_KEY=""
ACCESS_TOKEN_SECRET_KEY=""
ACCESS_TOKEN_TIME_LIFE=""
REFRESH_TOKEN_SECRET_KEY=""
REFRESH_TOKEN_TIME_LIFE=""

SUPABASE_DATABASE_PASSWORD=""
SUPABASE_PROJECT_URL=""
SUPABASE_PROJECT_API_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_JWT_SECRET=""
SUPABASE_ACCESS_KEY_ID=""
SUPABASE_SECRET_ACCESS_KEY=""

GEMINI_API_KEY=""
GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_LOCATION=us-central1

DISCORD_OAUTH_CLIENT_ID=""
DISCORD_OAUTH_CLIENT_SECRET=""
DISCORD_OAUTH_REDIRECT_URI=""

GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_OAUTH_REDIRECT_URI=""

APPLICATION_BASE_URL="http://localhost:4000"

PAYOS_CLIENT_ID=your_payos_client_id
PAYOS_API_KEY=your_payos_api_key
PAYOS_CHECKSUM_KEY=your_payos_checksum_key